/* ================ Allgemein ================ */

#website {
    width:100%;
    font-size:14px;
}

/* ================ KOPFBEREICH ================ */

#header {
    width: 100%;
    padding:10px;
    background:#8CC0DD;
}

#header h1{
    font-size:18px;
    color: #564B47;
    font-style:normal;
}

#header p{
    font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:38px;
    font-weight:bolder;
    color: #564B47;
}

/* ================ INHALT ================ */

#main{
    width:100%;
    height:100%;
    float:left;
    padding-left: 5px;
    padding-right: 5px; 
    padding-bottom: 10px;
    background:#ccc;
    font-family:'Oswald', sans-serif;
}

.button_klasse {
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;
    font-size:14px;
    border: 1px solid #6AA9DD;
    color:#000000;
}

.blau{
    background-color: #8CC0DD;
}

.gruen{
    background-color: #008000;
}

.rot{
    background-color: #DC143C;
}




